<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="DefaultConnection" connectionString="a" providerName="System.Data.SqlClient" />
    <add name="CHBEntities" connectionString="a" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="" />
    <add key="webpages:Enabled" value="" />
    <add key="ClientValidationEnabled" value="" />
    <add key="UnobtrusiveJavaScriptEnabled" value="" />
    <add key="ClientID" value="" />
    <add key="AADInstance" value="" />
    <add key="ClientSecret" value="" />
    <add key="Domain" value="" />
    <add key="TenantId" value="" />
    <add key="WebsiteURL" value="" />
    <add key="WebsiteURLOld" value="" />
    <add key="iKey" value="" />
    <add key="ContainerName" value="" />
    <add key="StorageKey" value="" />
    <add key="GraphResourceId" value="" />
    <add key="ContainerSource" value="" />
    <add key="ContainerSuccess" value="" />
    <add key="ContainerFailed" value="" />
    <add key="ClientIDApi" value="" />
    <add key="ClientSecretApi" value="" />
    <add key="ApiURL" value="" />
    <add key="b2c:AADInstance" value=""/>
    <add key="b2c:ClientId" value=""/>
    <add key="b2c:ClientSecret" value=""/>
    <add key="b2c:EditProfilePolicyId" value=""/>
    <add key="b2c:ResetPasswordPolicyId" value=""/>
    <add key="b2c:SignUpSignInPolicyId" value=""/>
    <add key="b2c:Tenant" value=""/>
    <add key="uam:BaseAddress" value=""/>
    <add key="uam:ResourceId" value=""/>
    <add key="uam:BaseAuthority" value=""/>
    <add key="api:ApiScopes" value=""/>
    <add key="MendixWebsiteURL" value=""/>
    <add key="ExportToExcelQueue" value="" />
    <add key="ExportToExcelContainerName" value="" />
    <add key="DownLoadAsZipQueue" value="" />
    <add key="UploadShipmentQueue" value="" />
    <add key="DefaultMailFromAddress" value="" />
    <add key="SendGridAPIKey" value="" />
    <add key="CustomerContainerName" value="" />
    <add key="DownLoadAsZipCustomerQueue" value="" />
    <add key="ShipmentTopic" value="" />
    <add key="ShipmentSubscriptionName" value="" />
    <add key="ServiceBusConnectionString" value="" />
    <add key="PluginContainerName" value="" />
    <add key="ShipmentExchange" value ="" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="On" defaultRedirect="/ErrorHandler?errorMessage=Error has been logged." xdt:Transform="Replace">
      <error statusCode="403" redirect="/ErrorHandler?errorMessage=Error has been logged.(403)" />
      <error statusCode="404" redirect="/ErrorHandler?errorMessage=The resource you are looking for has not found." />
      <error statusCode="302" redirect="/ErrorHandler?errorMessage=Error has been logged.(302)" />
      <error statusCode="500" redirect="/ErrorHandler?errorMessage=Internal error occured.(500)" />
      <error statusCode="502" redirect="/ErrorHandler?errorMessage=Internal error occured.(502)" />
    </customErrors>
    <compilation targetFramework="4.7.2"  xdt:Transform="Replace"/>
    <httpRuntime targetFramework="4.7.1" executionTimeout="180" xdt:Transform="Replace"/>
  </system.web>
</configuration>